[2016-10-12 10:30] TechieGary opened #12 "download/clone version is different from pip install"
pip install does not included --profile parameters

[2016-10-12 15:43] okigan commented on #12
Good catch.

I'll follow up.

[2016-10-12 16:43] okigan commented on #12
Latest is now published as version 0.8: https://pypi.python.org/pypi?:action=display&name=awscurl&version=0.8

@TechieGary give pypi couple hours and try install/upgrade again. Comment here when you get the right version

[2016-10-12 20:47] TechieGary commented on #12
Tried —upgrade and install. still 0.6, but will try again later.

Thanks buddy!!

[2016-10-13 19:55] okigan commented on #12
Works now:

`
pip install awscurl
....
Successfully installed awscurl-0.8
`

[2016-10-13 19:55] #12 closed

[2016-11-02 15:28] gozer opened #13 "Some services require the AWS Security Token as part of the signature"
Just encountered an issue using awscli against Amazon ElasticSearch service. Turns out some services require the *x-amz-security-token* header to be part of the signature, others don't.

I believe it's safe to just always include it in the signed payload when it's set.

From: [Amazon V4 Signatures](http://docs.aws.amazon.com/general/latest/gr/sigv4-add-signature-to-request.html):

[2016-11-02 16:50] okigan commented on #13
i think awscurl already passes that token as a headear, any insight why this does not work in your case?

[2016-11-02 19:01] gozer commented on #13
awscurl does pass that token as a header, but doesn't include it in the signature, which is required for some services, like ElasticSearch

[2016-11-04 06:19] okigan commented on #13
@gozer sounds good, there are couple comments on the pull request -- if can be addressed I'd love to merge this

[2016-11-09 04:26] okigan commented on #13
@gozer bump. please update pull request -- trying to avoid it going stale.

[2016-11-10 06:35] #13 closed

[2016-11-14 03:56] TechieGary opened #15 "Doesn't handle URLs encoded with apostrophe correctly %27"
Called with URL that passes "Mike's 1043" encoded as Mike%27s%201043

Example URL
https://xxxxxxxxx.execute-api.us-west-2.amazonaws.com/prod/add?user=XX&data=Mike%27s%201043

'Response code: 400\n'
{"message": "Could not parse request body into json: Unrecognized character escape \'\'\' (code 39)\n at [Source: [B@742f0d86; line: 9, column: 34]"}
Traceback (most recent call last):
  File "/usr/loca

[2016-11-15 02:49] okigan commented on #15
@TechieGary include full command line that resulted in this issue

[2016-11-15 17:02] gozer opened #16 "Support retrieving credentials for an IAM Instance Profile via STS"
When running in EC2, it's the preferred mechanism to get temporary credentials,
and it's supported by boto

[2016-12-27 16:19] okigan commented on #15
Time for clean up, @TechieGary do you have more info for the above or need to proceed to close this issue.

[2017-01-03 19:24] okigan commented on #15
not enough info -- closing for now

[2017-01-03 19:24] #15 closed

[2017-01-03 19:25] okigan commented on #16
closing per discussion in : https://github.com/okigan/awscurl/pull/17#issuecomment-261006096

[2017-01-03 19:25] #16 closed

[2017-06-28 17:27] robertoandrade opened #19 "Use AWS_SESSION_TOKEN instead of custom AWS_SECURITY_TOKEN env variable by default"
The [AWS documentation](http://docs.aws.amazon.com/cli/latest/userguide/cli-environment.html) for the environment variables that specify credential components for their own `aws` cli specify that the STS tokens may be exposed via a `AWS_SESSION_TOKEN` environment variable.

The `awscurl` though expects the value in a different environment variable named `AWS_SECURITY_TOKEN`. I believe it should us

[2017-06-28 18:34] okigan commented on #19
agree, that should be made consistent -- I'll review.

[2017-07-25 10:37] sardaukar opened #23 "TypeError: 'map' object is not subscriptable"
After install `awscurl` on macOS Sierra, I get:

[code]

Is there a way to fix it? Thanks.

[2017-07-25 19:51] okigan commented on #23
Looks like this is python 3.6 specific,

build is tested[1] with python 2.7 and 3.5.

[1] https://travis-ci.org/okigan/awscurl

On Tue, Jul 25, 2017 at 3:37 AM, Bruno Antunes <notifications@github.com>
wrote:

[2017-07-25 21:06] okigan commented on #23
@sardaukar try latest version (just published) https://pypi.python.org/pypi/awscurl/0.9

use `pip uninstall awscurl` folllowed by `pip install awscurl`

[2017-07-26 12:11] sardaukar commented on #23
Just did, still have the same issue:

[code]

[code]

[2017-07-26 15:05] okigan commented on #23
What's the command line that you use to call awscurl?

[2017-07-26 15:08] sardaukar commented on #23
`awscurl --region eu-west-1 --service es --profile search "https://<some_elastic_search_host>/_cat/indices?v"`

[2017-07-26 15:08] sardaukar commented on #23
`awscurl --region eu-west-1 --service es --profile search "https://<some_elastic_search_host>/_cat/indices?v"`

[2017-07-27 08:26] okigan commented on #23
@sardaukar another update -- try latest version (just published) https://pypi.python.org/pypi/awscurl/0.10

use pip uninstall awscurl folllowed by pip install awscurl

[2017-07-27 09:49] sardaukar commented on #23
Yep, works now! Thanks :D

[2017-07-27 09:49] #23 closed

[2017-10-28 20:31] Rushikesh005 opened #27 "Issue with executing URL with query string."
I'm facing an issue with executing a API Gateway URL.

./awscurl.py -X GET --region us-west-2 --access_key XXXXXXXXXXXX --secret_key XXXXXXXXXXXXXXXXX --service execute-api """https://xxxxx.execute-api.us-west-2.amazonaws.com/XX/YY/ZZZ?ids=[\{\"id\":\"aaaaa-bbb-cccc-dddd-1234567\"\}]&pid=aaaaa-bbb-cccc-dddd-1234567"""

I'm getting following response,
{"message":"The request signature we calculated

[2017-10-30 03:01] okigan commented on #27
check escaping happening in your command line/shell, here is a simple example that works with query params:

`awscurl --service s3 https://awscurl-sample-bucket.s3.amazonaws.com?a=b`

[2017-12-22 17:56] jonathancartwright commented on #19
I have a change in my fork that pulls the AWS_SESSION_TOKEN from the .aws/credentials file if it is present.  this behavior is similar to what you already do for the other types of tokens.

I know that this would be really helpful for people that use STS tokens.  Please let me know if you would like me to issue a PR for review.  my fork is at https://github.com/jonathancartwright/awscurl if you wa

[2017-12-24 19:56] okigan commented on #19
Looks good -- looking forward to PR.

On Fri, Dec 22, 2017 at 9:56 AM, Jonathan Cartwright <
notifications@github.com> wrote:

[2017-12-27 08:24] okigan commented on #19
https://github.com/okigan/awscurl/pull/30 merged

[2017-12-27 08:24] #19 closed

[2018-01-04 00:21] b-yond opened #31 "syntax error in setup.py reported"
Running setup.py install for awscurl
    SyntaxError: ('invalid syntax', ('/usr/lib/python2.6/site-packages/awscurl/awscurl.py', 322, 23, '    headers = {k: v for (k, v) in map(lambda s: s.split(": "), args.header)}\n'))

[2018-01-04 00:44] okigan commented on #31
I don’t python 2.6 is a supported target, have u tried newer version?

[2018-01-04 10:10] b-yond commented on #31
Thanks for the quick response. I managed to install w pip.
Now getting this...

host [~] # awscurl --service s3 https://obfuscated-bucket-name.s3.amazonaws.com
Traceback (most recent call last):
  File "/usr/bin/awscurl", line 5, in <module>
    from pkg_resources import load_entry_point
  File "/usr/lib/python2.6/site-packages/pkg_resources.py", line 2655, in <module>
    working_set.require(__re

[2018-01-04 13:57] okigan commented on #31
You are still running it on python 2.6, see paths in the error message: "/usr/lib/python2.6”...

[2018-01-07 01:02] okigan commented on #27
@Rushikesh005 closing this issue as stale -- contact/create a new issue if the problem re-occurs.

[2018-01-07 01:02] #27 closed

[2018-01-07 01:03] okigan commented on #31
See supported/test python versions: https://github.com/okigan/awscurl/blob/master/.travis.yml

[2018-01-08 11:35] b-yond commented on #31
Thanks for the versions. I'm using these versions with up-to-date systems:
CentOS 6.9 uses Python 2.6 as latest.
CentOS 7 uses 2.7 as latest
Amazon Linux uses Python 2.7

I'm still getting this error on Python 2.7. Thanks for any help you can provide.

[ec2-user@ip-x-y-z-z ~]$ awscurl
Traceback (most recent call last):
  File "/usr/local/bin/awscurl", line 6, in <module>
    from pkg_resources imp

[2018-01-09 17:32] tomfaulhaber opened #32 "A release with print-content-as-text?"
It looks like the current pypi version of this package (0.11) still has "print(r.content)". I was using this with Amazon SageMaker and the results were coming back as a byte array ("b'...'") instead of text. When I do a git clone and run the latest version, it works great.

Could we get a pypi release of the latest version? Thanks!

(P.S. thanks for this really useful tool)

[2018-01-17 05:33] okigan commented on #31
@b-yond please update the issue by Jan 26 or moving it closed due to inactivity.

[2018-01-17 05:34] okigan commented on #32
@tomfaulhaber thanks for feedback, latest code is published as version 0.12 on pypi: https://pypi.python.org/pypi/awscurl/0.12

[2018-01-17 05:34] #32 closed

[2018-02-16 19:17] anthonyagresta commented on #31
@b-yond I was able to install it successfully on Amazon Linux by doing the following first:
`sudo pip install urllib3[secure] --upgrade`
and then
`sudo pip install awscurl`

[2018-03-08 11:14] mbayrak78 opened #33 "URI encoding"
Hi,

please update awscurl in order to allow non URL encoded charecters.
E.g.
`GET <host>/_task/taskId:123:abc`

the character ":" is not RFC conform and must be URL encoded.
I would recommend to change line 182 as:

`
requests.utils.quote(canonical_uri)
`

If URI is not encoded properly AWS returns an error indicating that signature check has failed.
If you change request to:
`GET <host>/_task/ta

[2018-03-08 11:19] mbayrak78 opened #34 "Return of make_request"
Hi,

would it be possible to return the response object instead of returning a number (0, 1, etc.) for the success status of the request?
The reason behind that is, if one e.g. performs a GET with awscurl, it would be nice to have the response body available for further usage. Currently it is only piped to print() whcih is useless for automation...

BR & thanks
MB

[2018-03-08 19:13] okigan commented on #33
I think this should be a bit more specific as URL path quoting is different than query parameter quoting.

@mbayrak78 could you start a pull request on this?

[2018-03-08 19:16] okigan commented on #34
I guess status code processing can be pulled up -- can you add more context how are you using this for automation and/or what services you are automating.

[2018-03-08 19:16] okigan commented on #31
@b-yond @anthonyagresta any suggestions how to get 'sudo pip install urllib3[secure] --upgrade' equivalent into setup.py ?

[2018-03-09 07:08] mbayrak78 commented on #34
Sure, we use awscurl in our CD/CI pipelines to automate build and integration process via scripting (sh, python).
In one of this automation steps we make an HTTP GET request. The server response with useful information that we want to use furthermore in the scripts, e.g.:

[code]

[2018-03-09 07:15] mbayrak78 commented on #33
As described here:
https://docs.aws.amazon.com/general/latest/gr/sigv4-create-canonical-request.html and
https://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-header-based-auth.html#canonical-request
the canonical URI must be URI-encoded.

[2018-04-04 04:42] okigan commented on #34
feature branch: https://github.com/okigan/awscurl/tree/feature/issues/34

[2018-04-04 06:57] okigan commented on #34
@mbayrak78 have a look at the PR: https://github.com/okigan/awscurl/pull/37 let me know if you see any issues if it does/not covers your use-case

[2018-04-04 07:09] mbayrak78 commented on #34
Hi Igor,

thanks for the changes.
Returning the response object to the caller fits our needs perfectly and I guess would also enhance others use case too.

BR

[2018-04-04 07:14] #33 closed

[2018-04-04 07:15] okigan opened #39 "need to obfuscate AWS credentials used for testing"

[2018-04-04 07:27] #39 closed

[2018-04-04 08:39] okigan commented on #34
merged

[2018-04-04 08:39] #34 closed

[2018-04-06 13:53] dragan979 opened #41 "awscurl in python script ?"
is it possible to put it in python script: run command and get output to JSON file (without subprocess)

[code]
and getting

[code]

[2018-04-06 14:28] okigan commented on #41
@dragan979 check out recent changes to awscurl (not published yet on pipi) to which makes 'make_request' function public -- you could use that in your script. Try that and post your feedback here.

[2018-04-06 23:31] dragan979 commented on #41
`./awscurl.py --service iam 'https://iam.amazonaws.com/?Action=ListUsers&Version=2010-05-08'`
returns data, how to write output to json and call code above from python script, or how to embed parameters into awscurl.py ?

[2018-04-07 00:14] dragan979 commented on #41
awscurl.py works, how, using python code to write json output, i managed to substitute uri inside a script, but have issues doing same for service (iam)

[2018-04-07 00:40] okigan commented on #41
@dragan979 checkout more info how to use python modules: https://docs.python.org/2/tutorial/modules.html

you should be able to get latest awscurl version and import it and use `make_request()` with your parameters, similar to: https://github.com/okigan/awscurl/blob/master/awscurl/awscurl.py#L336

[2018-04-07 00:46] dragan979 commented on #41
@okigan , i only have 2 parameters:service and uri, i hardcoded uri just need same for service (if it's possible) i'm beginner in python

[2018-04-07 15:01] dragan979 commented on #41
@okigan, found alternative; boto3, works like a charm

[2018-04-07 15:01] #41 closed

[2018-05-08 19:36] simondiep opened #42 "Create Release Version"
Now that this has been working for quite some time, could you make a release 1.0 or tag the code?  I'd like to reference a version that is stable.

[2018-06-18 22:25] phene opened #44 "Does not support AssumeRole or MFA profiles"
AWSCurl does not support profiles that assume role (for cross-account access) or MFA.

[2018-06-19 16:03] simondiep commented on #42
@okigan - v1.0 is what I'm proposing.  I want all of the latest features available since 2015's release v0.6

[2018-06-19 17:37] phene commented on #44
Please see the [Using IAM Roles](https://docs.aws.amazon.com/cli/latest/topic/config-vars.html#using-aws-iam-roles) section of AWS CLI configuration guide. The `role_arn` and `mfa_serial` options are the relevant pieces of information that awscurl presently ignores.

[2018-06-21 17:13] phene opened #45 "Needs support for urllib 1.23"
awscurl currently restricts urllib to `<1.23>=1.21.1`. Can this restriction be relaxed or awscurl updated appropriately to support the new version of urllib?

[2018-07-20 13:31] scraly opened #46 "AWS_SESSION_TOKEN not taken in account"
Hi,

it seems that awscurl is not taking in account AWS_SESSION_TOKEN environment variable (when an user is assuming a role, in order to have some rights).

Is it possible to calculate the aws signature version 4 with this AWS_SESSION_TOKEN instead of only with AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY?

Without taking in account this environment variable (created dynamically when an user is ass

[2018-08-10 23:41] josb opened #48 "`--data` with UTF-8 data raises UnicodeDecodeError"
The default encoding in Python 2.x is `ascii` so we are seeing the following backtrace when supplying UTF-8 arguments to the `--data` flag:
[code]
The fix seems to be to avoid the implicit call to `decode(<default encoding>)` when dealing with `val` being of type `str`, by explicitly decoding `val` as `utf-8` first so we end of with a `unicode` object to feed to `encode('utf-8')`, like it expects.

[2018-08-14 05:48] okigan commented on #48
I think '--data-binary' option would solve that for you (thanks to @mariosotil).

Post back if you still see on issue.

[2018-08-14 06:02] okigan commented on #48
This released in v0.13, which was just published to https://pypi.org/project/awscurl

[2018-08-14 11:31] adriaanbaelus opened #49 "Pip install fails on 0.14"
Our CI failed today due to an update of awscurl.
Looking at https://pypi.org/project/awscurl/0.14/#history I see you've released 0.13 and 0.14 (not committed to repo yet, I think?), but when I try to install awscurl now (either locally or on CI server), I get this:

[code]

[2018-08-14 15:37] okigan commented on #49
@adriaanbaelus resolved in v0.15, please confirm resolution.

Sorry for the issue 😯.

please lock the version of awscurl that is used in your builds and upgrade it in a controlled manner (with requirements.txt, pip install awscurl==0.15 or similar)

[2018-10-16 22:09] jmhummel opened #50 "requests 2.19.1 has requirement urllib3<1.24,>=1.21.1, but you'll have urllib3 1.24 which is incompatible."
Please update `setup.py` to install `urllib3<1.24,>=1.21.1`, as it currently pulls in 1.24 and throws the following error:
[code]

[2018-11-02 13:53] tdi commented on #44
+1 to this

[2018-11-07 07:31] okigan commented on #50
PR merged - closing issue.

[2018-11-07 07:31] #50 closed

[2018-11-07 07:31] okigan commented on #49
closing due to inactivity.

[2018-11-07 07:31] #49 closed

[2018-11-07 07:32] okigan commented on #45
closing due to inactivity

[2018-11-07 07:32] #45 closed

[2018-11-07 07:33] okigan commented on #31
closing due to inactivity.

[2018-11-07 07:33] #31 closed

[2018-11-07 07:40] okigan commented on #44
assume role would require full support for boto (right?) which seems a bit large dependency to add into awscurl

as assume role just replaces env variables to the ones corresponding to the role have you considered just running `aws sts assume-role ...` before running `awscurl`?

as shown in: https://gist.github.com/brianredbeard/035ee1419bc38a0e2d854fb828d585d7

`source <(AWS_PROFILE=redbeard  aws

[2018-11-08 16:04] tdi commented on #44
I do not think boto is big dependency - or let me rephrase it - problematic. Chance is when you use awscurl - you already have boto installed along with botocore etc. This way awscurl could simplify codebase and leveraging ofifcial's SDK config/env/profile readers and MFA and cross roles.

[2018-11-08 16:06] okigan commented on #44
so trying to understand value proposition, if you have boto installed why use awscurl?

[2018-11-08 18:19] phene commented on #44
The AWS CLI does not make it easy to create signed requests to Elasticsearch. That is the sole reason I use awscurl.

[2019-02-12 23:40] josb commented on #48
That worked, thanks @okigan !

[2019-02-12 23:40] #48 closed

[2019-02-26 18:18] tinyzimmer opened #55 "Does not support EC2 Instance Profiles"
First off, very neat project!

In regards to func `load_aws_config`. Is there a specific reason you use a ConfigParser?

If you used boto3 you'd end up supporting most credential providers implicitly.

```boto3.Session().get_credentials().get_frozen_credentials()```

You could construct the `session` object with a profile and/or keys if provided, or otherwise allow boto to default to its own chain

[2019-06-03 17:18] atlascoder opened #61 "Not working with execute-api WebSockets"
I got error when trying to execute:
[code]

Also tried:
[code]
and
[code]

The error:
[code]

[2019-06-11 15:57] david-house-harvard commented on #55
We would really like to be able to use this project, but the lack of support for instance profiles means that we are going to end up using https://www.npmjs.com/package/aws-es-curl

[2019-06-11 19:37] tinyzimmer commented on #55
It was simple enough to do on a fork real quick, should you want to play with it: https://github.com/tinyzimmer/awscurl

I basically just added a `--discover-credentials` switch. So the default is to use the ConfigParser, but with that switch it'll just follow the boto3 hierarchy instead.

[code]

Though in my head I feel like that should just be the default method 😛. Since if a credentials file i

[2019-06-11 19:40] david-house-harvard commented on #55
@okigan Would you be open to a PR to enable support for EC2 instance profiles?

[2019-06-11 20:17] tinyzimmer commented on #55
If we go full PR, I'm inclined to take out the ConfigParser entirely, unless there _is_ in fact a specific reason it's used instead. Because you could still support the command line switches such as `--profile` and all you need to do is pass those **kwargs to the `boto3.Session()`.

The only reason I can see for avoiding it, is it's a chunky dep that gets updated frequently sometimes breaking back

[2019-06-12 00:34] okigan commented on #55
yes the reason is to avoid boto dependency - i feel this is conflicts with the scope of the awscurl (if you have boto just use boto directly, no?)

[2019-06-12 00:39] okigan commented on #55
@tinyzimmer check out this PR as well, maybe botocore is more acceptable dependency: https://github.com/okigan/awscurl/pull/54/files

[2019-06-12 01:02] tinyzimmer commented on #55
Yea somehow I completely missed that before. It's the same idea, a tad more lightweight to just use botocore.

Perhaps merging the two ideas and making it an option install_requires? i think that's possible?

Then you could use a `--boto` flag or something to use that method and enable things like instance profiles. Wrap the import in a try/catch like I did on my fork (but with botocore) so that t

[2019-06-12 01:39] okigan commented on #55
@tinyzimmer might just get way with doing this: https://gist.github.com/iMilnb/ab9939e83168d6df6457e50b0ca73c78

[2019-06-12 02:08] tinyzimmer commented on #55
Yea that works too, only downside would be if they make a change to the metadata apis. Botocore would have the benefit of having upstream support for any changes like that (probably).

[2019-06-12 02:50] okigan commented on #46
Closing - believed to be resolved and due to inactivity

[2019-06-12 02:50] #46 closed

[2019-06-12 02:58] okigan commented on #55
@tinyzimmer hmm, i think this story will continue to evolve, for now created this PR (fallback to botocore... 😱): #63

[2019-06-12 05:25] okigan commented on #61
@atlascoder your url does not look correct '@connections' seems wrong (looks similar to something used in aws cloudformation, but not a correct api gateway path)

[2019-06-12 12:14] atlascoder commented on #61
Hi @okigan , actually this is correct url for WebSocket API of APIGateway: https://docs.aws.amazon.com/en_us/apigateway/latest/developerguide/apigateway-how-to-call-websocket-api-connections.html

[2019-06-12 13:26] david-house-harvard commented on #55
While I definitely see the argument against instilling a loose dependency on boto, I think adding the dependency makes a lot of sense for our use case. In our migration from self-managed Elasticsearch to AWS-managed Elasticsearch we found that specific REST API calls against the managed service required AWS request authentication. This broke some of our tooling, which only uses `curl`. In order fo

[2019-06-12 13:36] tinyzimmer commented on #55
Lol I just use IP based policies to get around that in my current setup.
It's only accessible in the VPCs and over our VPN. But that way you don't
require request signing and can use curl normally. Not saying it's ideal,
but it's an option. You could slap a reverse proxy in front of it for basic
auth.

On Wed, Jun 12, 2019, 6:26 AM David House <notifications@github.com> wrote:

[2019-06-12 13:41] david-house-harvard commented on #55
@tinyzimmer Have you tried configuring `s3` snapshots? I think we have a pretty similar setup, the cluster is only available in the VPC and a security group grants access to our EC2 Instances and our VPN. We are able to perform regular `curl` requests for all REST endpoints except for `PUT` on the `_snapshot` endpoint, which requires a `role_arn` authorized to perform operations against an `s3` bu

[2019-06-12 13:44] tinyzimmer commented on #55
That I have not. But I might give it a try later to see. That would make sense since it hits an extra service. My cluster is only used for logging and I nuke everything older than 30 days in it and use CloudWatch logs for "cold storage." So I haven't really worried about backups or anything.

[2019-06-12 15:57] okigan commented on #55
Resolved in https://github.com/okigan/awscurl/pull/63

[2019-06-12 15:58] okigan commented on #61
Oh this is something new (to me :), will require more digging

[2019-06-12 16:00] atlascoder commented on #61
Yes, your tool is convenient and support for WebSocket url would be great

[2019-06-14 07:13] okigan commented on #55
release 0.17 is on pypi - closing this thread - open new one for further developments

[2019-06-14 07:13] #55 closed

[2019-06-16 06:09] okigan commented on #61
Ooops, I did not realize my tool made into into official AWS docs! 🤣
https://docs.aws.amazon.com/en_us/apigateway/latest/developerguide/apigateway-how-to-call-websocket-api-connections.html

[2019-06-16 18:06] okigan commented on #61
@atlascoder ok, this is getting interesting, I need more information to reproduce this.

Paste your setup for the route, and how you’ve setup the request *and* response template/mapping/etc:

https://docs.google.com/document/d/1-5u7A-bqmYldUoTBy6rMsO4rJC_kQzaHjHs__1yfmHY

[2019-06-16 22:15] atlascoder commented on #61
@okigan, sorry, it's not so straight.. I create WebSocket connection from Qt app and then I take session ID and try to send data to the socket with POST request. To reproduce this you can create any WebSocket-type API and a resource that does not require authorization. The resource should have Lambdas connected to `$connect`, `$disconnect` and `default`.
Use any convenient language that have WebSo

[2019-06-16 22:39] okigan commented on #61
It’s more about that back end setup (not the qt setup), I tried to follow https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-how-to-call-websocket-api-wscat.html. But effectively it returns an error that request/response templates are not setup.

Do I need more insight how to setup the WebSocket api

[2019-06-17 04:06] okigan commented on #61
@atlascoder I think i have a repro (instead of mocking created a simple lambda), try out this branch confirm that it works for you as well: https://github.com/okigan/awscurl/pull/64

[2019-06-17 06:52] okigan commented on #61
ok, i've figured it out, fantastically complicated, strap on your seatbelts! This will require usage of both tools: wscat and awscurl.

1. connect to the endpoint using wscat
2. send something to get connection information
3. copy the connectionId to the end of awscurl command
4. post some data to the connection URL
5. get some info about the connection/websocket
6. delete the connection/websocket

[2019-06-17 09:38] atlascoder commented on #61
@okigan cool! So, everything is needed is to make percent-encoding... Obvious!
Thank you!

[2019-06-17 09:41] atlascoder commented on #61
I'll check the branch #64 and reply

[2019-06-17 18:11] atlascoder commented on #61
@okigan did you use WS API without authorization? Or how have you used `wscat` with AWS credentials?

[2019-06-17 19:17] okigan commented on #61
@atlascoder without, see updated snapshot above

[2019-06-17 19:18] atlascoder commented on #61
OK, @okigan thank you!

[2019-06-17 19:50] atlascoder commented on #61
@okigan, I confirm - it works! Thanks a lot!!

[2019-07-28 21:10] subratamazumder commented on #61
@okigan thanks a lot 💯 , I was really struggling to get `execute-api` working with web-socket. Your clear notes with screen shots made it clear as water  👍

[2019-07-29 18:45] matthewwen opened #66 "Do you have an example of a POST or a PUT command"
If you are uploading data to S3, how would I do that? This right here is my guess for just making a txt file that has Hello There, but it is not working.

`awscurl -X 'POST' -d "Hello There" --service $SERVICE --region $REGION --access_key $ACCESS_KEY --secret_key $SECRET_KEY $URL`

[2019-07-29 19:32] #66 closed

[2019-07-31 15:33] okigan commented on #61
I've made a proposal to AWS to update documentation, all encouraged to review & comment on the draft.

current: https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-how-to-call-websocket-api.html

proposal draft:  https://docs.google.com/document/d/1G_vyFBV7d_3QS4dcaRqexLa8magZm7CsPAuivGTRip8/edit?usp=sharing

[2019-08-03 05:24] okigan commented on #61
hmm, might be simpler to make a PR for https://github.com/awsdocs/amazon-api-gateway-developer-guide/blob/master/doc_source/apigateway-how-to-call-websocket-api-connections.md

[2019-08-08 18:09] markus1189 opened #67 "Soften upper bound on urllib3?"
Is the upper bound on `urllib3` necessary?

[code]

I built it locally using nixpkgs which has 1.25.3 using a custom patch and it **seems** to work fine, but I am not a python developer at all :)

[2019-08-08 18:33] okigan commented on #67
There were some issues on security, but higher ones had some compatibility issue - but I’d love to move up to higher version.

[2019-08-28 16:34] bhatiasuraj opened #68 ""The request signature we calculated does not match the signature you provided" for a Private API with IAM_AUTH enabled using public DNS names"
Created a private API with API Gateway and enabled AWS_IAM auth on a GET method for a resource. When invoking using the default Stage URL (using private DNS name), the request works fine as below -

`awscurl -v https://API-ID.execute-api.REGION.amazonaws.com/STAGE/RESOURCE`

However, making a request using the public DNS names leads to the signature calculation error. We are passing the Host heade

[2019-08-28 16:48] okigan commented on #68
AFAIR, HOST header value is not utilized in signature calculation

[2019-08-28 19:05] okigan commented on #68
Have a look - too heads are better than one

[2019-10-01 15:53] bhatiasuraj commented on #68
@okigan This change should be sufficient (line85 on wards) -

[code]
Basically checking if a "Host" header was explicitly passed in the URL, if so - override 'host' with that value instead of picking it from the URL dictionary.

Tested with below URLs -

**1. Private DNS name of the API and no Host header explicitly passed**
$ awscurl https://osodqy7v11.execute-api.us-east-1.amazonaws.com/s1/
Succ

[2019-10-04 18:05] okigan commented on #68
i think using dictionary with case insensitive lookup is more full prof -- requests library includes one - what do you think about using that one?

[2019-10-04 18:09] okigan opened #71 "Add docker instructions"
https://github.com/allthings/awscurl has nice[er] docker instructions -- add similar level of details to https://github.com/okigan/awscurl/

[2019-10-04 21:07] bhatiasuraj commented on #68
That would require more changes - currently host is being picked up from the URL and not the headers.

[2019-10-04 21:44] okigan commented on #68
i forget - would this be sufficient, or it's missing something?

https://github.com/okigan/awscurl/pull/72

[2019-10-17 22:20] vdtn359 commented on #67
Is there any update on this?

[2019-10-17 22:42] okigan commented on #68
@bhatiasuraj bumping this up -- check out #72

[2019-10-17 23:09] okigan commented on #67
i did not have a chance to fully follow up on this.

Here the build <https://travis-ci.org/okigan/awscurl/jobs/599389543> that
passes with no restrictions, but I think we need more unit test for this
[secure] part.

Any idea how to test that code path (was a while a go 8))

On Thu, Oct 17, 2019 at 3:20 PM vdtn359 <notifications@github.com> wrote:

[2019-12-03 10:03] mbayrak78 opened #78 "Exception occurred with v0.18 in python 2.7 & python 3.7.1"
Hi,

we just tried to use v0.18 and got this exception:

Traceback (most recent call last):
  File "/usr/local/bin/awscurl", line 11, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.7/site-packages/awscurl/awscurl.py", line 491, in main
    print(response.headers.encode('utf-8'), end='\n\n')
AttributeError: 'CaseInsensitiveDict' object has no attribute 'encode'

[2019-12-03 10:30] okigan commented on #78
@mbayrak78, please try the bugfix release v0.19

On Tue, Dec 3, 2019 at 2:03 AM mbayrak78 <notifications@github.com> wrote:

[2019-12-03 10:35] mbayrak78 commented on #78
@okigan thanks for the quick bug fix. v0.19 tested and it works +1

[2019-12-04 07:24] #78 closed

[2019-12-10 10:35] KieranHunt opened #82 "Publish awscurl to homebrew"
It'd be nice to be able to grab `awscurl` via homebrew.

For instructions, see: https://docs.brew.sh/Formula-Cookbook

[2019-12-10 23:45] okigan commented on #82
@KieranHunt could you give some examples of other *python* tools that get installed with homebrew? -- I am trying to get a clear picture for this proposal vs homebrew install python, then pip install awscurl

[2019-12-11 01:37] okigan commented on #82
@KieranHunt hmm, see this comment, need some help on that: https://github.com/okigan/homebrew-core/pull/2/files#diff-c308bc5e97cfdf7d46e9587e812da610R47

[2019-12-11 07:00] KieranHunt commented on #82
I went through some of [this list](https://hugovk.github.io/top-pypi-packages/) of the top packages on PyPI. Most were libraries rather than command line tools though.

I see the `awscli` there: https://formulae.brew.sh/formula/awscli
Here's it's formula: https://github.com/Homebrew/homebrew-core/blob/master/Formula/awscli.rb

[2019-12-11 07:12] okigan commented on #82
I've got it more forward but I am stuck how to get dependencies installed.

See PR: https://github.com/Homebrew/homebrew-core/pull/47715

but calling `brew install --build-from-source Formula/awscurl.rb` fails when dependencies are uncommented in the awscurl.rb.

So this needs more help there (as I do not have enough exposure to this) @KieranHunt can you move it from here?

[2019-12-11 07:14] KieranHunt commented on #82
I've never done this before either but I'll see what I can do, @okigan. I'll see how much of the `awscli` formula I can ~~copy~~ learn from.

[2019-12-11 07:25] okigan commented on #82
yes, that formula seems relevant. I've bootstrapped with following script: https://github.com/okigan/awscurl/blob/feature/homebrew-template-generator/pybrew.sh.

if all pans out this should run successfully

[code]

[2019-12-13 21:00] okigan commented on #82
@KieranHunt bumping this up -- any updates (would be cool to finish this as new year present)

[2019-12-19 15:27] p5k6 opened #85 "PR #77 returns raw bytes as output, resulting output that is not parsable as json in current(0.19) release when using python 3"
When using 0.19 awscurl with python 3, [encoding response.text](https://github.com/okigan/awscurl/blob/master/awscurl/awscurl.py#L492) results in a byte object being returned. Printing that directly results in the output being prefixed with `b'` (see screenshots below), and thus json output cannot be parsed directly from the response. In Python 2 this is not an issue. I could also see this being a

[2019-12-21 13:56] KieranHunt commented on #82
Hey sorry for ghosting for a while 👻
Busy last week at work for the year.

I'm not having much success with your commands there. But I'm also running this using Linuxbrew.

[code]

But if it seems to be working for you will you open a PR? Or whatever their process is.

[2019-12-21 16:54] okigan commented on #82
They have not merged my pr yet

Do git checkout of my branch then it should work. Get branch name from here https://github.com/Homebrew/homebrew-core/pull/48129

[2020-01-08 11:16] starkshaw opened #86 "awscurl did not work with Lambda"
Hi,

I installed the latest version of awscurl, 0.20. I attempt to invoke my Lambda function and it returned some error messages that I can't make out what went wrong.

The same request worked fine in Postman.

[code]

The error message is:

[code]

The doc of the API can be found here: https://docs.aws.amazon.com/lambda/latest/dg/API_Invoke.html

[2020-01-08 20:54] okigan commented on #86
hmm, looks like split is done by ": " vs in your command it is separated only by ":" (note not space).

check if you add a space in there if that works.

[2020-01-10 15:41] starkshaw commented on #86
Interesting. Can we make it accept either way as long as a ":" is present?

New error after the modification:
[code]

[2020-01-10 15:46] okigan commented on #86
please propose a change -- just trying to foster collaboration ...

your url looks wrong, the <region> and other <> placeholders would require a value

[2020-01-10 15:49] starkshaw commented on #86
The URL is not wrong. I masked my value out :)

[2020-01-10 15:54] okigan commented on #86
then looks like general AccessDeniedException error

[2020-01-10 16:30] starkshaw commented on #86
I attempted to do a more robust test. Here's what I have:

- An API Gateway POST API with no authorization
- An API Gateway POST API with IAM authorization
- The Lambda one mentioned above

Testing from regular `curl`, if `-d` is enabled, the method will be changed to `POST` even `-XPOST` is not explicitly defined.

Testing from `awscurl`, if `-d` is enabled, the method will still be `GET` if `-XP

[2020-01-10 17:51] okigan commented on #86
Interesting, I’ll have a look (but later)

On Fri, Jan 10, 2020 at 8:30 AM Stark Shaw <notifications@github.com> wrote:

[2020-01-13 22:20] okigan commented on #82
@KieranHunt the new year gift of awscurl in homebrew is here : https://github.com/Homebrew/homebrew-core/pull/48129

standard installation shall work: `brew install awscurl`

[2020-01-14 00:55] okigan commented on #85
@p5k6 I this topic requires more info, horror stories about mercurial's journey concerns me (https://news.ycombinator.com/item?id=22037905) and I am not versed enough on pythons handling of this -- so need some help on what is more holistic approach (vs squashing the b"")

[2020-01-14 06:57] KieranHunt commented on #82
Oh fantastic! Thank you so much.

I see they're pretty strict with their pull requests so thanks for all of your effort. ✨

[2020-01-14 06:57] #82 closed

[2020-04-06 17:55] marklap commented on #85
IMO, [this change](https://github.com/okigan/awscurl/commit/bb6216b52dde964e48e09773e13f9709581459b2) should be reverted. I can't speak to what is/was really going on with the contributor, but it seems that if the `Content-Encoding` header in the response was set correctly, that change would not be necessary because [the `requests.Response.text` method is already trying to do the right thing](http

[2020-04-14 04:45] okigan commented on #85
@p5k6 reading @marklap comment and reviewing your snapshot -- could it be the issue is with your content encoding that returned from your api gateway?

Also i've setup a small experiment here: https://repl.it/@okigan/py-string-test

@p5k6 please review/advise or we'll start moving to revert this

[2020-04-14 17:45] marklap commented on #85
Just to clarify, @p5k6 identified the bug and @muziyoshiz is the contributor of the MR that is likely the root cause.

[2020-04-20 16:43] cyrfer commented on #85
I bumped into this today. It would be great if the leading `'b'` was removed from the output for curl compatibility and ease of use.

I can open a different ticket if needed, but is there a way to tell the version of `awscurl` installed? Today I ran `brew install awscurl` and `awscurl -v`:

[code]

While I'm at it, my AWS CLI is broken after installing `awscurl` with brew. Kind of a bummer. I thin

[2020-04-20 16:48] cyrfer opened #87 "python broken after `brew install awscurl`"
Title says it all.

I think awscurl required a different version of python than I had on my system.

After running `brew install awscurl`, I saw:

[code]

Now when I run simple tests with the AWS CLI, I see:

[code]

**UPDATE**: apparently its not just the `aws` CLI. It's other things...

[code]

[2020-04-20 17:54] okigan commented on #87
that's odd -- the benefit of brew is that it shall not affect your system, so AFAIK you could install awscurl and <pick another package> and even if they use different version of python it would work  (and not change you system's python)

[2020-04-20 17:56] cyrfer commented on #87
It definitely did affect my system. Perhaps you can relax the requirements to use whatever the system has?

[2020-04-20 17:57] okigan commented on #85
@cyrfer did you run into that while calling a labmda/api gateway? what is the content type your endpoint is returning?

[2020-04-20 18:02] okigan commented on #87
it's needs to have a dependency on python or for systems that do not have it nothing would be installed (making that "dynamic" is more than I can master in brew formula creation magic and I think would create more support issues).

that being said here capture from "my system", different system python and running awscurl

`
#python --version
Python 2.7.16
#awscurl
usage: awscurl [-h] [-v] [-i] [-X

[2020-04-20 20:20] cyrfer commented on #87
Ok this might be a false alarm. After restarting my mac laptop, I was able to resume using the `aws` CLI.

Also, it seems `pip` is the only thing I've noticed that is broken at the moment.

`pip3` works.

[code]

[2020-04-20 20:35] cyrfer commented on #87
Wow, [great find](https://stackoverflow.com/a/59816812/1740008) @okigan  !

`pip` is completely fixed now too.

[code]

[2020-04-20 21:25] okigan commented on #87
@cyrfer Cool -- closing this issue 🤞

[2020-04-20 21:25] #87 closed

[2020-04-20 23:36] cyrfer commented on #85
@okigan I was calling AppSync (like API GW, but for GraphQL).

[code]

[2020-04-23 15:24] marklap commented on #85
FYI - If you're following some other troubleshooting path then ignore this. If not, I'll offer this correction: it's `Content-Encoding` that changes the way the response body is handled, not `Content-Type`.

[2020-05-04 21:34] mathewpeterson commented on #85
I am also running into this issue. Any plans on resolving this?

[2020-05-04 21:46] okigan commented on #85
Hi Mathew, could you capture more details how do you reproduce this (which services, and relevant configuration)

[2020-05-05 13:02] mathewpeterson commented on #85
Sure,

We have a pretty straight forward setup:
Setup using Serverless Framework using API Gateway to invoke a Lambda that has aws_iam authentication set up. The lambda returns a json document.

[2020-05-06 01:32] okigan commented on #85
Could you capture the what is the content type of the doc (you can see it
logs when incoming lambda in aws console)

On Tue, May 5, 2020 at 6:03 AM Mathew Peterson <notifications@github.com>
wrote:

[2020-05-11 13:29] legal90 commented on #44
The issue was partially fixed by https://github.com/okigan/awscurl/pull/63.
It works with env variables:
[code]
but doesn't work with CLI arg:
[code]

[2020-05-14 11:44] mahe-work opened #89 "--profile does nothing"
Looks like the --profile command line argument does not work, awscurl uses default profile from ~/.aws/credentials despite the agument.

Running with AWS_PROFILE environment variable works fine.

[2020-05-14 11:47] mahe-work commented on #89
Sorry, my bad. I'm using aws-mfa and noticed that there's already issue for it. Closing this one.

[2020-05-14 11:47] #89 closed

[2020-09-02 14:46] AngusDavis commented on #85
In case it helps, my repro:
1. Running on Debian testing w/ python2 and 3 installed:
[code]
2. Installing awscurl:
[code]

I'm then attempting to make a request to ElasticSearch using signed requests:

[code]

As you can see, a charset is specified in the `Content-Type` header. I tend to agree with the above, taking the string output of response.text, converting it to a bytes object (`.encode()`)

[2020-09-25 12:51] jimmone opened #91 "Installing awscurl broke git-remote-codecommit"
After installing awscurl git-remote-codecommit stopped working and I cannot get it to work again. When I try to do `git pull `for example I get the following error message: `fatal: unable to find remote helper for 'codecommit'`.

[2020-09-25 13:49] okigan commented on #91
That’s odd - awscurl does not have any git related dependencies so should not affect it.

Can you reproduce the issue?

[2020-09-25 14:16] jimmone commented on #91
I reinstalled python, git-remote-codecommit and awscurl and now everything is working fine.

[2020-09-25 14:16] #91 closed

[2020-10-06 19:12] curtis-downing commented on #85
[code]

[2020-10-21 00:00] p5k6 commented on #85
FYI - I've added a PR (#92) to address this issue, including a unit test which addresses this issue.

Note that - the response should have the info needed re: the encoding via the api request (`response.encoding` should be set per the data included in the headers in the response object). By adding `.encode()`, awscurl forces us to have a bytes output, instead of relying upon how python would nativ

[2020-10-21 22:23] p5k6 commented on #85
Fixed in version 0.21 - thank you @okigan!

[2020-10-21 22:23] #85 closed

[2020-11-14 03:29] yegeniy commented on #44
Following up on https://github.com/okigan/awscurl/issues/44#issuecomment-436532408 and https://github.com/okigan/awscurl/issues/44#issuecomment-626702166:

Until #102 is merged, you can do the following to invoke `awscurl` with an assumed role in a profile called "temp":

1. Generate commands to configure your `~/.aws/credentials` file with a "temp" profile:

`aws sts assume-role --role-arn arn:aw

[2021-01-28 03:24] okigan commented on #71
Docker instructions added

[2021-01-28 03:24] #71 closed

[2021-02-01 18:43] Envek opened #104 "Plans to add multipart requests support?"
What do you think about adding `multipart/form-data` requests that are made with `-F` option in curl?

It would be awesome for testing endpoints for file uploads that are located on API Gateways with AWS Auth enabled.

Example [aws]curl command:
[code]

Expected request body:
[code]

[2021-02-01 19:03] okigan commented on #104
Looks rather interesting: https://curl.se/docs/manpage.html#-F

[2021-02-03 20:51] okigan commented on #104
@Envek would you like to start a PR or how would you like to move it forward?

[2021-02-04 11:12] Envek commented on #104
I'm not proficient in Python, unfortunately. Probably won't be able to dive into it in the nearest future.

[2021-02-25 20:21] jamessouth commented on #61
This worked for me, using the [https://github.com/legal90/awscurl](https://github.com/legal90/awscurl) tool. I have not been able to make messaging clients work with the Go SDK, but this shows the APIGW works.

[2021-03-15 01:22] ToshihikoMakita opened #106 "awscurl doesn't work for AWS Elasticsearch when query contains CJK multi-byte Unicode characters"
## It works fine if domain allows open-access
I'm confident that my query works fine if Elasticsearch domain allows open-access and I use `curl` command to issue query.

[code]
I attached the search query: search-search-ngram-and-kuromoji-2.json zipped.
[search-search-ngram-and-kuromoji-2.zip](https://github.com/okigan/awscurl/files/6137952/search-search-ngram-and-kuromoji-2.zip)

### If I launch

[2021-03-15 15:25] olive13400 opened #107 "ModuleNotFoundError"
Hi
I just tested but
I run a Centos 6.10, python 3.6

 ~/test/testV2/awscurl-0.21/awscurl
$ ./awscurl.py --service s3 https://awscurl-sample-bucket.s3.amazonaws.com
Traceback (most recent call last):
  File "./awscurl.py", line 19, in <module>
    from .utils import sha256_hash, sha256_hash_for_binary_data, sign
ModuleNotFoundError: No module named '__main__.utils'; '__main__' is not a package

Ma

[2021-03-15 16:28] okigan commented on #107
Interesting -- I don't have CentOs as test target maybe because of that?

Have you tried running through docker as shown in readme file?

[2021-03-15 20:49] okigan commented on #106
Wow, what an issue report -- 5⭐.

unicode and python seems to be a unique kind of pandora box.

to the effect the the query comes back empty can you audit what is the query received by the ES and does it match to the one received when curl (when using open access)?

[2021-03-15 22:57] ToshihikoMakita commented on #106
OK. I will investigate.

[2021-03-15 23:53] okigan commented on #107
@olive13400 i've just added ci-in-docker.sh file that would very builds and test in ubuntu and centos -- all test when I run it. please verify (build takes a while) that it passes on your system too.

[2021-03-18 03:00] ToshihikoMakita commented on #106
Hi, when Elasticsearch domain allows open-access, I could capture the JSON data by using `curl` on Ubuntu and `Wireshark`. The main point is to set `SSLKEYLOGFILE` environment variables before launching `curl`.

See attached query-json.txt.

[query-json.txt](https://github.com/okigan/awscurl/files/6161008/query-json.txt)

Does `awscurl` support `SSLKEYLOGFILE` environment variable? If it is suppor

[2021-03-18 19:28] okigan commented on #106
I think verbose flag "-v" will print the request before it's sent.

On Wed, Mar 17, 2021 at 8:01 PM Toshihiko Makita ***@***.***>
wrote:

[2021-03-18 22:15] okigan commented on #107
@olive13400 bumping up the thread to avoid it going cold/closed.

[2021-03-20 11:08] ToshihikoMakita commented on #106
Unfortunately "-v" option does not display the contents of JSON specified "-d" option.
I got the suggestion from AWS technical support to use Cloud Watch to debug the query that sent to Elasticsearch Service.
Here I attach several pattern of the test results.
## Results using `curl` when the ES domain is open

Command-line:
[search-ngram-and-kuromoji-open-access-curl-cmd.txt](https://github.com/ok

[2021-03-23 00:51] #107 closed

[2021-04-12 15:57] iainelder opened #114 "Support AWS SSO"
Does awscurl already support AWS SSO?

I tried just now and I seem to be missing something.

I'm using the version installed today directly from Github.

I have a config file with a profile that uses AWS SSO to get temporary credentials.

https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-files.html

[code]

The profile works with AWS CLI v2.

[code]

But when I try to use it with awsc

[2021-04-12 16:10] okigan commented on #114
Hmm, i think SSO was added after awscurl was created so I think that not supported yet

[2021-04-12 17:35] iainelder commented on #114
It looks like it's supported in boto3 1.14.0/botocore 1.17.

https://github.com/boto/botocore/issues/1988

https://github.com/boto/botocore/blob/develop/CHANGELOG.rst#1170

https://github.com/boto/boto3/blob/develop/CHANGELOG.rst#1140

I don't see a version specified in your requirements.txt. Which version are you using?

[2021-04-12 17:43] okigan commented on #114
Boto is a “soft dependency” it will use what you’ve got into the system (it will check before invoking it)

[2021-04-12 19:13] iainelder commented on #114
Hm, now I'm confused.

I installed awscurl in a virtualenv with pipx.

It appears the botocore package isn't actually installed in the virtualenv.

Am I missing something?

I'm not sure if this is the right place to look for the botocore verison; I'm not very sure about how Python dependencies work in this context.

[code]

[2021-04-12 19:51] okigan commented on #114
Have not used pipx (so can't comment too much about that) -- since awscurl does not specifically depends on boto you'd need to specify / install boto libarary

[2021-04-12 20:24] iainelder commented on #114
According to requirements.txt awscurl seems to depend not on boto but on botocore.

https://github.com/okigan/awscurl/blob/f60961b4c6725a21bc4532a04d36c7f756636054/requirements.txt#L4

I don't understand why botocore isn't an installed dependency when it appears in requirements.txt.

Indeed botocore is optionally loaded in the code that parses the credentials.

https://github.com/okigan/awscurl/bl

[2021-04-12 20:41] okigan commented on #114
botocore would be used if you have it installed and don't have any other credentials already set.

Do you have environment variables set with old access_key, secret_key, security_token?

[2021-04-12 20:55] iainelder commented on #114
I was quite sure of it. I will try to produce a repro for you when I have a moment.

[2021-06-08 04:55] jaedle opened #115 "Signature mismatch on non url-encoded uris"
Hey 👋

That's a great tool! I am using this tool to perform requests against APIs which are protected by IAM-Authentication. Those apis contain query parameters which parameters may require url-encoding.

It looks like there is a problem with uris which are not url-encoded.

[code]
Results in an error:
[code]

Even though it looks like the underlying implementation correctly escapes the url (like

[2021-06-08 05:24] okigan commented on #115
what happens when you put quotes around url in the original request (note the '):

`awscurl --service s3 'https://awscurl-sample-bucket.s3.amazonaws.com/?query=para:meter'`

[2021-06-08 05:28] jaedle commented on #115
@okigan The problem still exists, same error as above.

[2021-06-08 06:30] okigan commented on #115
Umm it's taking me down a memory lane. I think the issue is the tool does not know when to perform parameter quoting (and avoiding double quoting).

The RFC section https://datatracker.ietf.org/doc/html/rfc3986#section-2.4 was not helpful, but I am curious if there a definitive behavior that has been documented for this already.

[2021-06-08 11:16] jaedle commented on #115
My naive assumption as a user would be that the signature calculation would be done on the correctly url-encoded uri which is called and not on something which is not called :)

[2021-06-08 16:06] okigan commented on #115
It’s not clear if url already was percent-encoded (just applying would break other users I think)

Let’s me know if you see a robust way of implementing it.

[2021-06-10 14:09] iainelder commented on #114
I hadn't forgotten about this issue. I just took a long time to find some time :-)

I've got an explanation for the behavior that I reported and a solution to my request. But first I want to explain something that was confusing me before.

Because the installation process appears to ignore requirements.txt. Instead it follows setup.py.

In setup.py botocore is declared as an [optional dependency](

[2021-06-10 14:40] iainelder commented on #114
Yes, I surely did.

When I use tools that don't understand AWS SSO profiles (Terraform pre-0.14.6 is another example), I use a tool called [aws2-wrap](https://github.com/linaro-its/aws2-wrap) to bridge the gap. It generates temporary credentials from the SSO profile and writes them to the shared credentials file. As a command line tool, it allows me to use a single script to automate the credentia

[2021-06-22 18:38] bibliotechy opened #117 "Allow requests to not follow redirects"
We have an API Gateway Resource path that redirects to a pre-signed s3 URL. When I make that request with `awscurl`, it errors out with:
[code]
and the pre-signed s3 URL in the python Traceback
[code]
This makes sense because the signed request is not for the final URL. I'm guessing this will happen with any service that responds with a redirect.

I think it would make sense to add support for not

[2021-06-23 07:09] okigan commented on #117
Great! to add comments it needs to be a PR. I have created one and added comments here: https://github.com/okigan/awscurl/pull/118/files#diff-a5f8ec47e2c7e2be1bcf0119f9398660f74f517ea03f556907fd7a5d57ad90fbR326

[2021-06-23 14:45] bibliotechy opened #119 "Consider printing headers as json"
When the `-i` flag to include headers in response is provided, a python dict representation (actually the requests custom case-indifferent dict) of the headers are printed. Looks deceptively like JSON at a quick glance.

If the headers were dumped as valid JSON, tools like `jq` could be used for digging into them, which aids in readability and using that header data as part of a pipeline.

[2021-06-23 20:51] okigan commented on #119
should we revamp it to behave like: https://everything.curl.dev/usingcurl/verbose/writeout

[2021-06-23 21:00] okigan opened #120 "Add/update contributing instructions"
The project should have documentation to bootstrap new contributors, covering PR/build/etc steps.

[2021-06-24 13:07] bibliotechy commented on #119
That functionality definitely seems useful, but I don't actually see support for writing out arbitrary headers with any of those variables.

Thinking about curl as the baseline, curl's `-i` flag prints the headers one per line which at least can be parsed with `grep` or similar.

[2021-06-26 00:30] #117 closed

[2021-06-27 00:41] jumpman07 opened #121 "Does awscurl not support fetching POST data from a json file?"
Hi All,

I am trying to make a request to my API hosted on Amazon API Gateway. I put the request object in a file called request.json and am attempting to make a POST request as follows:

[code]

Since I have enabled the verbose flag, I am seeing data field of my request as ```'data': '@bin/request.json'``` . Any help is appreciated.

[2021-07-02 00:29] okigan commented on #121
@jumpman07 that should work, relevant code is here: https://github.com/okigan/awscurl/blob/master/awscurl/awscurl.py#L453

so check that the file exists and your path to is correct (i.e. the "bin/request.json", should that be "./bin/request.json" ? )

[2021-07-02 10:18] rfvermut opened #122 "Doesn't recognize AWS_WEB_IDENTITY_TOKEN_FILE, botocore.exceptions.ProfileNotFound: The config profile (default) could not be found"
In AWS EKS environment with IRSA. In version 0.22.

[code]

Works fine in 0.21

[2021-07-03 06:33] okigan commented on #122
Thanks for reporting - I’ll have a look

[2021-07-03 11:55] iainelder commented on #122
@rfvermut How are your other CLI environment variables set?

https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-envvars.html

What sections do you have in your CLI config file and credentials file?

https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-files.html

[2021-07-03 14:37] rfvermut commented on #122
Everything is completely empty, no configuration. Docker image python:3-buster, pip3 install awscli awscurl

[2021-07-03 16:11] iainelder commented on #122
I'm unfamiliar with AWS EKS. Does IRSA refer to the [IAM roles for service accounts feature](https://docs.aws.amazon.com/emr/latest/EMR-on-EKS-DevelopmentGuide/setting-up-enable-IAM.html)?

I don't think the behavior is affecterd by `AWS_WEB_IDENTITY_TOKEN_FILE` so I'll ignore it for now.

The server at example.com doesn't appear to respond to PUT requests so lets change that to a GET request.

[c

[2021-07-03 16:12] iainelder commented on #122
@rfvermut I'm not aware of a way to workaround this with version 0.22.0. For now I suggest you specify 0.21.0 when you install the command.

[2021-07-03 16:35] okigan commented on #122
@iainelder i will be backing out the SSO feature/commit and releasing bug fix build - that should buy us time to figure out what’s going on here.

[2021-07-03 19:29] iainelder opened #123 "Improve tests for load_aws_config"
The load_aws_config function is responsible for getting credentials that are used to sign the request.

It's quite complex: a mixture of custom credential parsing and calls to botocore.

The PR #116 (add support for AWS SSO profiles) caused a rergression in #122 (instance credentials are not being loaded).

The tests for the load_aws_config function don't cover all the use cases, which makes it ha

[2021-07-03 21:45] okigan commented on #122
Change reverted: https://github.com/okigan/awscurl/pull/124, new release will follow shortly

[2021-07-03 23:03] okigan commented on #123
i am tempted to delegate to boto to load configs (since the premise of not depending on boto is not as relevant today)

[2021-07-03 23:15] okigan commented on #122
@rfvermut I am looking for a way to setup a test environment for this, is the following script sufficient to repo? and in which environment does that need to run?

    docker run  -it python:3-buster /bin/bash -c "pip3 install awscli awscurl && awscurl -X GET https://example.com"

[2021-07-04 07:30] rfvermut commented on #122
First, let me thank you reverting that change so fast. I have a gazillion non-centralized Jenkins scripts that refer to non-pinned install of awscurl and it affected half of our organization. My mistake, always pin your versions.

Second, the "just enough" setup for tests would look like this:

Get inside a container
[code]

Prepare environment
[code]

0.23/0.21 will fail trying to decode `garbage

[2021-07-04 11:42] iainelder commented on #123
(Although botocore implements the credential handling, the relevant documentation describes boto3 and the AWS CLI. I'll keep referring to botocore.)

botocore has a [long credential resolution chain](https://boto3.amazonaws.com/v1/documentation/api/latest/guide/credentials.html) to support all the use cases:

(The AWS SSO credentials are not explicitly mentioned here. I'm not sure if it should be

[2021-07-04 11:53] iainelder commented on #123
I've asked for clarification of the SSO credentials resolution in https://github.com/boto/botocore/issues/2433.

[2021-07-05 19:07] okigan commented on #122
@rfvermut thanks for repro script!
@iainelder I have an idea, why profile is not working: in the command line parser it is the only one (among AWS_* related variables) that has a default value (of 'default'), so I think removing that and adding (back) the Session(profile=profile) could make it work. Here is related change: https://github.com/okigan/awscurl/commit/a501a436ecf383f978dfe7d789bdddef8b

[2021-07-06 17:52] iainelder commented on #122
Commit a501a43 looks to me like it could work.

(It's what I was alluding to in my ending comments in https://github.com/okigan/awscurl/issues/123#issuecomment-873572490)

How would you test it?

[2021-07-06 18:48] okigan commented on #122
@iainelder i've tested it by checking out and running a501a43.
Getting the InvalidIdentityTokenException error as shown in https://github.com/okigan/awscurl/issues/122#issuecomment-873538028 using following script:

[code]

i am still looking for a way to test load_aws_config, but do not see a way to mock the relevant component.

[2021-07-09 10:54] iainelder commented on #122
@okigan have you looked at moto? it has mocks for many AWS services including STS.

We might be able to use it to mock responses from the STS service that we are authenticating against.

https://github.com/spulec/moto

I have some ideas here, but no time to implement them for a while yet :-)

[2021-07-26 13:50] andreacavagna01 commented on #114
As a workaround, you can use Leapp.
it generates AWS access, secret key, and an access token directly from AWS SSO credentials, making this automatically support AWS sso:
https://docs.leapp.cloud/use-cases/aws_sso/

[2021-09-03 07:45] speller opened #128 "Compile to binary"
It would be nice to have a possibility to compile awscurl to a binary for optimal disk space usage especially in Docker containers. It's hard to pull all the dependencies required for the program to work. Particularly, I'm building an image for CI/CD that will have awscli installed.

[2021-09-05 04:52] speller opened #129 "Proposal: Allow modifying signature hostname"
I'm trying to run awscurl to perform requests to the ES service through an SSH tunnel. The tunnel opens a local port connected to the ES service 443 port on the API endpoint. The tunnel is required to connect to a service not available to the public. The issue is that awscurl creates a signature using the URL passed in CLI. But the service hostname and port are different from the local URL. I need

[2021-09-05 05:02] speller commented on #129
Answering my own question - it's possible to do with the `host` header passed. But the only issue is that the header name must be lower-case. This will not work: `-H "Host: $ES_HOST"`.

[2021-09-05 05:02] speller commented on #129
Also, documenting this would be very helpful.

[2021-09-05 05:05] okigan commented on #129
I think I’ve heard of something similar.

Is that the same as specifying HOST header (different than hostname in the url)?

[2021-09-05 05:07] speller commented on #129
Yes, the same. I just described why I need that. My actual URL passed to awscurl is something like `https://host.docker.internal:10443`. But the signature must be created for the real service API endpoint hostname.

[2021-09-05 05:11] speller commented on #129
Another minor suggestion: don't include the 443 port to the hostname to use in the signature if it was explicitly specified along with the https protocol. Using `vpc-***.***.es.amazonaws.com:443` as the hostname in the signature cause validation failure.

[2021-09-05 05:15] speller opened #130 "urllib's InsecureRequestWarning printed to stdout when using the --insecure parameter"
I'm using a custom hostname for the URL and thus the server certificate can't be verified. I'm passing the `--insecure` argument but it still prints the following warning:

[code]

I think this should be suppressed.

[2021-09-05 05:20] okigan commented on #129
Could you start a PR as section in the readme.md file - I’ll take it from there.

Thanks!

[2021-09-05 05:21] okigan commented on #129
Are you using latest version? I remember adding case insensitive logic before.

[2021-09-05 05:28] okigan commented on #129
Hmm, seems it’s a thing todo. Similar to: https://github.com/aws/aws-cli/issues/2883

[2021-09-05 06:14] okigan commented on #128
@speller please add more info what/which dependency is causing issues.

[2021-09-05 06:40] speller commented on #129
I'm using the latest version in the Docker container.

[2021-09-05 06:43] speller commented on #128
I'm not proficient in Python, so I can't say what's missing. I don't know anything about compiling Python programs to binaries. But having a binary pushed to GitHub releases would be super useful. And it also would be super nice if it will work under the Alpine linux.

[2021-09-05 06:50] okigan commented on #128
The docket images are actively used and are built based on alpine. See this: https://github.com/okigan/awscurl/blob/master/Dockerfile

[2021-09-05 07:20] speller commented on #128
What's the binary path then? The entrypoint says that it is run as a python script, not as a binary as I understood: `ENTRYPOINT ["python", "-m", "awscurl.awscurl"]`

[2021-09-06 10:31] speller commented on #128
Could you let me know what files should I copy from the awscurl docker image to make it working locally on another Alpine-based image?

[2021-09-06 10:44] speller opened #131 "Can't install (pip install awscurl fails)"
When I run command from the Readme under the `python:3.9.7-alpine3.14` docker image, I'm getting a lot of the following errors:

[code]

If I install packages from the dockerfile, I'm getting the following:

[code]

What I'm doing wrong?

[2021-09-06 14:05] speller commented on #128
I've managed to compile by myself. Here is my Dockerfile code that builds `awscli` and `awscurl`. The `awscurl` part shares almost everything related to `awscli`. I had no time to strip the `awscli` part to leave `awscurl` only. The difficulty is to compile a `pyinstaller` alpine bootstrap binary under Alpine, that's why all these workarounds were made (`aws-cli` v2 doesn't have an official Alpine

[2021-09-09 19:43] #115 closed

[2021-09-10 00:03] okigan commented on #131
You can use the existing docker image (just docker pull okigan/awscurl) or create a custom one based on existing Docker (https://github.com/okigan/awscurl/blob/master/Dockerfile).

I've tested the above Docker file with python:3.9.7-alpine3.14 and it built successfully.

[2021-09-10 17:31] okigan commented on #130
@speller please confirm latest resolves your issue (ex. installing from source: $ pip install git+https://github.com/okigan/awscurl)

[2021-09-10 19:06] okigan commented on #129
@speller review the above please

[2021-12-02 03:40] varju opened #138 "Commas in querystring are not URL encoded"
I've been using awscurl to call API Gateway endpoints, and it has been working great for us up until now (thanks very much for making this!).

I recently started working on an endpoint that takes comma-delimited arrays, and found that the signature is not working properly in this case.

Example failure:

[code]

Reviewing [sigv4-create-canonical-request.html](https://docs.aws.amazon.com/general/la

[2021-12-03 03:09] okigan commented on #138
@varju oh! that sounds like a good addition/correction. Could you please make it into PR with unit test -- I can take it from there.  Thanks!

[2021-12-05 07:48] #138 closed

[2021-12-06 13:54] LuciCondescu opened #140 "All awscurl command fails after latest release"
It looks like the latest version doesn't work anymore when it's installed using pip.
`pip install awscurl`
The output of the install command is:
` Collecting awscurl
15:40:56  Requirement already satisfied: configargparse in /usr/local/lib/python2.7/dist-packages (from awscurl) (1.5.3)
15:40:56  Requirement already satisfied: configparser in /usr/lib/python2.7/dist-packages (from awscurl) (3.5.0b2

[2021-12-06 16:13] LuciCondescu commented on #140
Thanks a lot, Igor. I finally understood what the problem actually was.

[2021-12-06 16:13] #140 closed

[2021-12-16 22:06] maxmanders opened #141 "Thank you!"
Not an issue, feel free to close. I just wanted to say thank you for this tool. Had a sticky situation with ElasticSearch today, and awscurl came to the rescue. Thank you!

[2021-12-17 00:51] okigan commented on #141
Great news to hear!

[2022-02-09 22:07] john-aws commented on #44
Note: the AWS_PROFILE workaround [above](https://github.com/okigan/awscurl/issues/44#issuecomment-626702166) doesn't appear to work for the external [credential_process](https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-sourcing-external.html) case where the profile in `~/.aws/config` looks like the following (and which works correctly for all AWS SDK clients e.g. awscli):

[code]

Ru

[2022-03-03 15:25] mielliott opened #142 "Some --verbose text printed to stdout"
Here's the output for sending a request to google.com:
[code]

Then add the verbose flag but suppress stderr:

[code]

Looks like the response headers are being printed to stdout instead of stderr (where all the other verbose text is sent).

PS - thanks for this tool! As you might be aware, new versions of curl add an --aws-sig4 option to handle signing for AWS requests, but I've been unable to ge

[2022-03-03 16:19] mielliott commented on #142
Ah, I see:

https://github.com/okigan/awscurl/blob/ea2a9b192e80053a4edf7dbfe7b390e249a92527/awscurl/awscurl.py#L511

With curl, -i and -v do not overlap: -i prints response headers to stdout, whereas -v prints response headers (and everything else) to stderr

[2022-03-03 17:07] okigan commented on #142
Interesting - I’ll have a look!

[2022-04-20 07:07] johannes-gehrs commented on #141
100% correct your tool is a staple of our daily work and has never failed us. Thank you so much for your work.

[2022-07-11 10:42] gopuneet opened #144 "Using `-d` arg doesn'"

[2022-07-11 11:31] gopuneet commented on #144
https://github.com/okigan/awscurl/blob/b4d48077acd138e67fd9b88deb22524525249a0d/awscurl/awscurl.py#L467-L473

After going through the code, I think the issue can be fixed near the above code block by adding:
[code]

[2022-07-20 18:55] okigan commented on #144
Cool, thanks for the find, keeping consistency with curl make it very convenient - please send PR

[2022-08-04 13:43] maxmanders commented on #141
Closing to avoid noise in the list of legit issues :-)

[2022-08-04 13:43] #141 closed

[2022-08-23 17:05] okigan commented on #129
@speller Bumping up old thread. Would you review the above for the upcoming release?

[2022-08-24 01:20] speller commented on #130
@okigan this seems to be not merged yet to the main branch?

[2022-08-24 01:29] speller commented on #128
The following Dockerfile code id used to compile binary under Python 3.9 Alpine 3.16

[code]

Versions:

[code]

This allows adding only binary to my image without pulling Python and raw sources. @okigan would you consider adding binaries only to the docker build instead of sources? In doesn't make sense to pull Python when only awscurl is required. And it also will simplify adding awscurl to cust

[2022-08-24 03:46] okigan commented on #129
Branch merged -- closing issue.

[2022-08-24 03:46] #129 closed

[2022-08-24 04:13] okigan commented on #128
First of all, thank you for looking into this!

I have not used pyinstaller before so I looked at the relevant [docs](https://pyinstaller.org/en/stable/operating-mode.html#how-the-one-file-program-works). Some of the internal caveats make me concerned
this may trip some users.

Also, if awscurl "was compiled to executable" I would like more context how that would be distributed/consumed. (feel fre

[2022-08-24 10:31] speller commented on #128
@okigan My use cases:

1) Use awscurl docker image in a ci/cd environment when the job is not heavy and I need to perform some tasks with AWS. In this case, the size of the image makes sense - the smaller the size, the faster is job -> the faster the pipeline.

2) A complex job in a pipeline - in this case, I make a custom Docker image with the preinstalled set of tools I need instead of downloadi

[2022-08-24 10:34] speller commented on #128
You may also redistribute the tool as precompiled binaries for different platforms if you wish.

[2022-08-24 10:35] speller commented on #131
I guess the problem was in the absence of the required dependencies in the readme.

[2022-08-25 19:04] okigan commented on #128
so I think your flow creates an "uber" docker image with all the necessary tools. And precompiled binaries are a way to avoid conflicts between the different tools.

in the pyinstaller step, the specific binaries are compiled for your version of the (alpine) OS. If this binaries are published I think we'd need to keep them updated per (worst case) OS version (which seems a lot of ongoing work)

if

[2022-08-25 19:50] okigan commented on #130
Done

[2022-08-25 19:50] #130 closed

[2022-08-26 02:47] speller commented on #128
From my experience, the majority of linux binaries work well under alpine if they're compiled without external dependencies. In some cases, binaries compiled under any alpine could be required.

Yes, if it will contain a binary then it would solve my issue.

[2022-08-26 03:39] speller commented on #130
OK, thank you.

[2022-10-21 00:59] rohits2290 opened #147 "Support to add your own PEM file for requests.verify"
Defintion make_request has verify as True or False.

The requests documentation also has an option to provide a path to the pem file to verify SSL
https://requests.readthedocs.io/en/latest/user/advanced/#ssl-cert-verification.

Is it possible to add path as an option than bool responses as it's current available?

Thanks